{{ define "Service" }}{{ $serviceName := .Name }}

// Mock{{ $serviceName }} is the mock implementation of the {{ $serviceName }}. Use this to create mock services that
// return random data. Useful in UI Testing.
type Mock{{ $serviceName }} struct {}

{{ range .Methods -}}{{- /*gotype: github.com/srikrsna/protoc-gen-mock.methodModel*/ -}}
// {{ .Name }} is mock implementation of the method {{ .Name }}
func (Mock{{ $serviceName }}) {{ .Name }}(context.Context, *{{ .Input }}) (*{{ .Output }}, error) {
    var res {{ .Output }}
    fuzzer.Fuzz(&res)
    return &res, nil
}
{{end}}
{{ end }}
